@{
    ViewData["Title"] = "Home";
}

<div class="container text-center mt-5">
    <h1>Welcome to MyWebApp</h1>
    <p class="lead">This is a simple ASP.NET Core MVC application.</p>

    <div class="mt-4">
        <a href="@Url.Action("Index", "Task")" class="btn btn-primary">Go to Task Page</a>
    </div>
</div>